/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//  Variables
$dark-color: #303F9F;
$main-color:#3F51B5;
$light-color:#C5CAE9;
$accent-color: rgb(252, 212, 92);

.hidden {
  display: none;
}

html,
body {
  height: 100%;
}

body {
  font: 16px Helvetica, Arial;
  background-color: $dark-color;
  color: #fff;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 180px;
  align-items: center;
  border-top: 18px solid $dark-color;
  background-color: $main-color;
  margin-bottom: 20px;

  p {
    color: $light-color;
  }
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}


h1 {
  font-weight: 300;
  text-align: left;
}

h2 {
  font-size: 24px;
  color: $main-color;
}


#loginBtn {
  display: inline-block;
  width: 50px;
  margin-top: 20px;
  background-color: $light-color;
  color: #212121;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 0.4rem;

  @media screen and (min-width: 760px) {
    margin-left: 5px;
    margin-top: 0;
  }
}

#login {
  margin: 0 auto;
  margin-bottom: 20px;
  background: #fff;
  padding: 40px 50px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  min-width: 300px;

  @media screen and (min-width: 760px) {
    min-width: 600px;
  }

  form {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 760px) {
      flex-direction: row;
    }
  }

  .container {
    width: 100%;
  }
}

.header-container {
  width: 300px;

  @media screen and (min-width: 760px) {
    width: 600px;
  }

  @media screen and (min-width: 1200px) {
    width: 800px;
  }
}

.container {
  padding: 50px;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.form-container,
.messages,
.users {
  padding: 20px;
  min-width: 300px;

  @media screen and (min-width: 760px) {
    min-width: 600px;
  }

  @media screen and (min-width: 1200px) {
    min-width: 800px;
  }
}

.users {
  text-align: center;
  color: $accent-color;
}

.form-container {
  border: 5px solid $light-color;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #757575;

  label {
    display: block;
    margin-bottom: 0.5rem;
  }
}

.messages {
  background-color: rgba(248, 248, 248, 0.555);
  border: 6px solid $light-color;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 200px;
  overflow: scroll;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 2px solid $main-color;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 0.4rem;
  border-style: solid;
}


form {
  padding: 3px;
  margin: 12px auto;
  display: flex;

  .btn {
    width: auto;
    padding: 10px;
    background-color: $light-color;
    border-radius: 4px;
    color: #757575;
    cursor: pointer;
    border-color: $main-color;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-left: 5px;

    &:hover {
      background: $main-color;
      color: #eeeeee;
    }
  }
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 5px 10px;
  }

  li:nth-child(odd) {
    background: #eee;
  }
}

// imports

@import 'modules/_message';